<!DOCTYPE html>
 <html class="">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>  
    登录 - 择校网</title>
  <meta content="th3ajqNZhzL8ZSWAwnD5cVzExe7OhkduzcJ_Hj1yQVo" name="csrf-token" />
  <meta content="0" name="is-login" />
  <meta content="1" name="is-open" /> 
  	<link rel="stylesheet" type="text/css" href="./static/css/1.css">
	<link rel="stylesheet" href="./static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="./font/iconfont.css">
          		
	<link href="static/css/bootstrap.css-7.5.15.1.css" tppabs="" rel="stylesheet" />

    <link rel="stylesheet" media="screen" href="static/css/font-awesome.min.css-7.5.15.1.css" tppabs="" />


	<link href="static/css/main.css-7.5.15.1.css" tppabs="" rel="stylesheet" />
    <link rel="stylesheet" media="screen" href="static/css/hz-font/iconfont.css-7.5.15.1.css" tppabs="" />
    <script src="static/js/jquery-1.9.1.min.js"></script>

      <script src="static/js/bootstrap.min.js"></script>
      <link href="static/js/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
      
      <script src="static/js/bootstrap-table/bootstrap-table.js"></script>
    </head>
  <body class="index"  >
  	<div class="top">
    <div class="top-logo"><img src="static/img/logo.png-7.5.15.1.png" alt=""></div>
    <div class="top-address">
      <input type="text" placeholder="北京" id="place" name="" style="font-size: 16px">
  <!-- 城市 -->
  <div id="in_city" style="display: none"></div>

  <!-- <script type="text/javascript" src="static/js/cityTemplate.js"></script> 
  <script type="text/javascript">

      var inCity = $(".city_a_le1 a"); //城市
      var pla = $("#place");  //出发地
      var dest = $("#destination");  //目的地
      // 默认值
      inCity.width = "345";  //城市选择框  宽
      inCity.height = "auto";  //城市选择框  高
      inCity.id = "#in_city";  //城市选择框  父级ID
      inCity.Children = '.city_a_le1';  //城市名box
      // 初始化 城市HTML模板
      $(inCity.id).prepend(inCity._template.join(''));
      inCity.Hot(cityA);
      
      //城市 导航
      var apay = $(".screen a");

      var placeThis; //当前选择标签
      apay.click(function(obj){  //城市导航
          inCity.payment($(this));
      })

      inCity.place(pla); //出发地
      inCity.destination(dest);  //目的地
      inCity.cityClick(cityA); //显示赋值城市
  </script>
  -->
    </div>
    <nav>
      <ul class="nav-list">
        <li><a href="/">首页</a></li>
        <li><a href="#">幼儿园</a></li>
        <li><a href="#">小学</a></li>
        <li><a href="#">初中</a></li>
        <li><a href="#">高中</a></li>
        <li><a href="#">大学</a></li>
        <li><a href="#">培训机构</a></li>
      </ul>
    </nav>
    <div class="top-entry">
      <ul>
        <li><a href="register">注册</a></li>
        <li><a href="login">登陆</a></li>
        <li><a href="#">公众号</a></li>
      </ul>
    </div>
  </div>
  
  {% block content %}{% endblock %}
</div>
</body>
</html>