{% extends "base.html" %}
{% block content %}
<div class="all">
        <div class="top-one">
            <p>北京幼儿园<span>></span>朝阳区<span>></span>望京<span>></span>mini family</p>
        </div>
        <div class="middle"><br>
            <p>{{school.name}}</p><br>
            <p>地址：{{school.addr}}</p><br>
            <p>学费：{{school.tuition}}</p><br>
            <p>特色：{{school.features}}</p><br>
            <p>电话：{{school.phone}}</p>
            <div class="other">
                <a href="#">其他校区</a>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom-left"><p>学校<span>/</span>特色介绍</p><br><p>:&nbsp;{{school.intro}}</p></div>
            <div class="bottom-right"><p>创始人<span>/</span>校长<span>/</span>团队介绍</p><br><p>:&nbsp;{{school.team}}</p></div>
        </div>
        <div class="school">
            <ul>
                <li><img src="static/img/a9.png" alt=""><p>建校时间<br><br>{{school.founded}}</p></li>
                <li><img src="static/img/a9.png" alt=""><p>学生年龄段<br><br>{{school.age}}</p></li>
                <li><img src="static/img/a9.png" alt=""><p>学校规模<br><br>{{school.scale}}</p></li>
                <li><img src="static/img/a9.png" alt=""><p>师生数<br><br>{{school.population}}</p></li>
                <li><img src="static/img/a9.png" alt=""><p>上课时间<br><br>{{school.duration}}</p></li>
                <li><img src="static/img/a9.png" alt=""><p>外教授课时长<br><br>{{school.foreignduration}}</p></li>
                <li><img src="static/img/a9.png" alt=""><p>校车<br><br>{{school.schoolbus}}</p></li>
                <li><img src="static/img/a9.png" alt=""><p>课后托班<br><br>{{school.cramclass}}</p></li>
            </ul>
        </div>
</div>
{% endblock %}