{% extends "base.html" %}
{% block content %}
<div class="all">
        <div class="top-one">
            <p>北京幼儿园<span>></span>朝阳区<span>></span>望京<span>></span>mini family</p>
        </div>
        <div class="middle"><br>
            <p>mini family</p><br>
            <p>地址：xxx</p><br>
            <p>学费：xxx</p><br>
            <p>特色：xxx</p><br>
            <p>电话：010-xxx</p>
            <div class="other">
                <a href="#">其他校区</a>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom-left"><p>学校<span>/</span>特色介绍</p><br><p>:&nbsp;xxx</p></div>
            <div class="bottom-right"><p>创始人<span>/</span>校长<span>/</span>团队介绍</p><br><p>:&nbsp;xxx</p></div>
        </div>
        <div class="school">
            <ul>
                <li><img src="static/img/a9.png" alt=""><p>建校时间<br><br>xxx年</p></li>
                <li><img src="static/img/a9.png" alt=""><p>学生年龄段<br><br>xx岁-xx岁</p></li>
                <li><img src="static/img/a9.png" alt=""><p>学校规模<br><br>xxx人</p></li>
                <li><img src="static/img/a9.png" alt=""><p>师生数<br><br>xxx人</p></li>
                <li><img src="static/img/a9.png" alt=""><p>上课时间<br><br>xx点-xx点</p></li>
                <li><img src="static/img/a9.png" alt=""><p>外教授课时长<br><br>xx小时/天</p></li>
                <li><img src="static/img/a9.png" alt=""><p>校车<br><br>有</p></li>
                <li><img src="static/img/a9.png" alt=""><p>课后托班<br><br>暂无信息</p></li>
            </ul>
        </div>
</div>
{% endblock %}