{% extends "base.html" %}
{% block content %}
<div class="all">
    
        {% for grade in gradelist %}
        <div class="content">
            <div class="content-title">
                <p class="content-type">{{grade.name}}</p>
                <p class="content-more"><a href="/ng?id={{grade.id}}">更多</a></p>
            </div>
            <div class="content-photo">
                <ul>
                    {% for school in grade.schools %}    
                    <li><img src="static/img/timg.jpg" alt="" onclick="window.location.href='detailed?id={{school.id}}'"><p>学校名称:{{school.name}}</p><p>学校简介:{{school.intro}}</p></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
</div>
{% endblock %}