{% extends "base.html" %}
{% block content %}
<div class="all">
    
        {% for grade in gradelist %}
        <div class="content">
            <div class="content-title">
                <p class="content-type">{{grade.name}}</p>
                <p class="content-more"><a href="/ng?id={{grade.id}}">更多</a></p>
            </div>
            <div class="content-photo">
                <ul>
                    {% for school in grade.schools %}   
                    
                    <li><img src="/img?id={{school.id}}" alt="{{school.name}}" onclick="window.location.href='detailed?id={{school.id}}'"><p>学校名称:{{school.name[0:6]}}</p><p>学校简介:{{school.features}}</p></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
</div>
<script>
    userToken='eyJhbGciOiJIUzI1NiIsImlhdCI6MTUzODEyNjc4MiwiZXhwIjoxNTM4MTI3MzgyfQ.eyJpZCI6N30.oSZ2MS08g3qQA1dt_8114ICeQ3tDO5GP0X0oIK3xVxw';
    $.ajax({
    type: "get",
    url: "/api/v1.0/tasks",
    contentType: "application/json",
    dataType: "json",
    //processData: false,
    beforeSend: function(request) {                
        request.setRequestHeader("Authorization",  userToken);
    },
    success:function(data){
                    console.log(data);
    },error:function(data){
                    console.log(data);
    }
});
</script>
{% endblock %}