{% extends "base.html" %}
{% block content %}
<div class="all">
		<div class="ng">
			<div class="ng-one">
				<ul>
					<li><a href="">分类：</a></li>
					<li><a href="/ng?id={{id}}">不限</a></li>
					<li><a href="/ng?id={{id}}&catid=1">双语</a></li>
					<li><a href="/ng?id={{id}}&catid=1">国际</a></li>
					<li><a href="/ng?id={{id}}&catid=1">公立</a></li>
					<li><a href="/ng?id={{id}}&catid=1">民办（已备案）</a></li>
					<li><a href="/ng?id={{id}}&catid=1">民办（未备案）</a></li>
				</ul>
			</div>
			<div class="ng-two">
				<ul>
					<li><a href="">行政区：</a></li>
					<li><a href="">不限</a></li>
					{% for dist in distlist %}  
					<li>
						<a href="">{{dist.name}}</a>
						<div class="itm">
						<p>热门</p><br>
						<ul class="itm-details">
							{% for school in dist.hotlist %}  
							<li><a href="/detailed?id={{school.id}}">{{school.name}}</a></li>
							{% endfor %}
						</ul>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	<div class="bit">
		
		{% for school in schoollist %}
		<div class="bit-left">
			<img src="assets/img/{{thumb}}" alt="">
			<div class="bit-right">
				<p class="str">{{school.name}}</p><br>
				<p>学费：{{school.tuition}}</p><br>
				<p>地址：{{school.addr}}</p><br>
				<p>特色：{{school.features}}</p>
			</div>
		</div>
		{% endfor %}
    <div class="tcdPageCode"></div>
        <script src="/static/jquery/jquery.page.js"></script>
        <script>
            $(".tcdPageCode").createPage({
                pageCount:{{pagecount}},
                current:{{pageindex}},
                backFn:function(p){
					
					window.location.href='/ng?id={{id}}&catid={{catid}}&pageindex='+p;
                }
            });
        </script>
        </div>
	</div>
    </div>
    
    {% endblock %}