*{margin:0;padding:0}
.top{
	widows: 100%;
	height: 100px;
	font-family: Microsoft YaHei;
}
.top a:hover{
	color: orange;
}
.top .top-logo{
	float: left;
	width: 100px;
	height: 50px;
	margin-top: 30px;
	margin-left: 40px;
}
.top .top-address{
	float: left;
	font-size: 12px;
	margin-top: 36px;
	margin-left: 60px;
}
a {
 	color: #555; 
 	text-decoration: none 
}
input {
	 background-color: #fff; 
	 font-size: 1em; 
	 outline:none; 
	 text-indent: 10px; 
}
.clear {
	clear: both;
}
#place {
	 background: url(../img/001.png) no-repeat 96% center; 
}
#in_city {
	background: #ddd;
	position: absolute; 
	z-index: 999;
	border: solid 1px #d7d7d7; 
	background: #fff;
	padding-bottom: 6px; 
}
.screen { 
	overflow: hidden; 
}/*
.screen a { 
	float: left; 
	color: #129ace; 
	padding: 1px 12.6px; 
	text-align: center; 
	border-bottom: solid 1px #c92436; 
}
.screen a:hover { color: #c92436; }
.screen .shar { color: #404040; border: solid 1px #c92436; border-bottom: none; }
.city_a_le1 { padding: 10px; overflow: hidden; }
.city_a_le1 a { float: left; width: 20%; margin: 2px 0; }
.Letter span { width: 12%; float: left; text-align: center; padding: 2px 0; }
.Letter div { width: 88%; float: left; }
.city_a_le1 a:hover { color: #c92436; }
.Letter div a { width: 25%; }
#in_city h1 { padding: 10px 0; color: #ababab; text-indent: 3%; }
input { border: solid 1px #e1e1e1; 
	height: 28px; 
	border-radius: 3px; 
	text-indent: 10px; 
	margin: 20px 0 10px 10px; 
	width: 60px;
}*/
nav .nav-list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 100px;
}
nav .nav-list li{
	line-height: 60px;
	margin: 14px;
	font-size: 20px;
}
@media (max-width: 1200px) {
  nav .nav-list {
    position: fixed;
    height: 100%;
    top: 0;
    padding-top: 10px;
    width: 60%;
    background: #fff;
    left: -60%;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-box-shadow: 3px 0px 10px #f0eded;
    box-shadow: 3px 0px 10px #f0eded;
  }
}
nav .nav-list > li {
  position: relative;
  list-style: none;
  float: left;
  text-align: center;
}
@media (max-width: 1200px) {
  nav .nav-list > li {
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  nav .nav-list > li {
    margin-bottom: 15px;
  }
}
nav .nav-list > li .active {
  color: #fff;
  background: #094fb7;
}
nav .nav-list > li a {
  color: #5a5c5f;
  display: inline-block;
  line-height: 32 px;
  padding: 1px 15px;
  margin: 0 10px;
  font-size: 22px;
  border-radius: 5px;
  text-decoration: none;
}
@media (max-width: 1200px) {
  nav .nav-list > li a {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
}
nav .nav-list > li a:hover {
  color: #fff;
  background-color: #094fb7;
}
.top .top-entry ul{
	margin-right: 50px;
/*	line-height: 20px;*/
}
.top .top-entry li{
	margin-top: 36px;
	float: right;
	margin-left: 8px;
	margin-top: 60px;
	font-size: 16px;
	font-family: STKaiti;
}
.all{
	margin:0 auto;
	height: 800px;
	width: 1200px;
	font-family: KaiTi_GB2312;
}
.all .content-title{
	width: 100%;
	height: 20px;
}
.all .content-title .content-type{
	float: left;
	line-height: 20px;
	font-size: 18px;
	margin-top: 2px;
}
.all .content-more{
	margin-right: 6px;
	margin-top: 6px;
	float: right;
	font-size: 14px;
}
.all .content-more a:hover{
	color: orange;
}
.all .content{
	float: left;
	margin-left: 8px;
	margin-top: 8px;
	width: 590px;
	height: 380px;
	background-color: #d9d9d9;
}
.content .content-photo li{
	margin-top: 8px;
	margin-left: 4px; 
	float: left;
}
.all .content .content-photo{
/*	float: left;
	width: 590px;*/
	/*height: 350px;*/
/*	background-color: red;*/
	margin-left: 4px;
	margin-top: 4px;
}
.ad{
	 position: absolute;
	 width: 160px;
	 height: 550px;
	 right: 0;
	 top:500px;
}
.ad .ad-top{
	width: 160px;
	height: 200px;
	background-color: red;
}
.ad .ad-bottom{
	width: 160px;
	height: 200px;
	background-color: red;
}
.banner-all{
	width: 100%;
	height: 400px;
	margin:0;
	padding: 0;
}
.banner{
	position: relative;
	overflow: auto;
	text-align: center;
	width:100%;
	height: 100%;
	margin:0 auto;
/*	top:-20px;*/
	font-size: 0;
}
.banner ul .slider-item {
	width:100px; 
	float: left;
	height:400px; 
	position: relative; 
	overflow: hidden;
}
.banner .dots{
	position:absolute;
	left:0;
	right:0;
	bottom:70px;
	z-index:3;
}
.banner .dots li{
	display:inline-block;
	width:10px;
	height:10px;
	margin:0 4px;
	text-indent:-999em;
	border:2px solid #fff;
	border-radius:6px;
	cursor:pointer;
	opacity:.4;
	-webkit-transition:background .5s,opacity .5s;-moz-transition:background .5s,opacity .5s;transition:background .5s,opacity .5s
}
.banner .dots li.active{
	background:#fff;
	opacity:1
}
.banner .arrow{
	position:absolute;
	width:20px;
	height:37px;
	top: 50%;
	margin-top: -18px; 
	overflow: hidden;
	z-index: 2; 
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;  
	-ms-transition: all 0.5s; 
	-o-transition: all 0.5s; 
	transition: all 0.5s;
}
.banner #al{
	left:15px
}
.banner #ar{
	right:15px
}
.banner ul{
	z-index: 1;
	width: 600%;
	overflow: hidden;
}
.all{
	height: 1000px;
}
.all .top-one{
	margin-top: 16px;
}
.all .top-one p span{
	margin:0 10px;
}
.all .top-one p{
	font-size: 16px;
}
.all .middle{
	position: relative;
	margin-top: 16px;
	width: 1200px;
	height: 300px;
	background-color: #f0f0f0;
}
.all .middle p{
	font-size: 22px;
	margin-top: 6px;
	margin-left: 30px;
	line-height: 30px;
}
.middle .other{
	position: absolute;
	right:20px;
	top:20px;
	font-size: 16px;
}
.bottom{
	margin-top: 4px;
	width: 1200px;
	height: 50px;
}
.bottom span{
	margin: 0 8px;
}
.bottom .bottom-left{
	float: left;
	width: 594px;
	height: 280px;
	background-color: #f0f0f0;
}
.bottom .bottom-left p{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 20px;
}
.bottom .bottom-right{
	float: right;
	width: 594px;
	height: 280px;
	background-color: #f0f0f0;
}
.bottom .bottom-right p{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 20px;
}
.school ul{
	margin-top: 246px;
}
.school ul li img{
	float: left;
	margin-top: 16px;
	margin-right: 20px;
}
.school ul li{
	float: left;
	width: 230px;
	height: 100px;
	font-size: 20px;
	margin-left: 64px; 
}
.footer{
	background:#2d3237;
	color:#fff;
	line-height:52px；
}
.footer .about{
	line-height:24px;
	padding:8px 0 0
}
.footer .about>span a{
	color:#fff;
	padding:0 6px
}
.footer .about>span a:hover{
	color:#15c288
}
.footer>div{
	text-align:center
}
.footer>div a{
	color:#fff;
	display:inline-block
}
.footer>div i{
	padding:3px;
	margin:0 4px;
	border:1px solid #fff;
	font-size:20px;
	border-radius:50%;
	text-align:center;
	line-height:33px;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
  .container {
    width: 740px;
  }
  .container {
    width: 960px;
  }

  .container {
    width: 1160px;
 }
.row {
  margin-left: -40px;
  margin-right: -10px;
  font-family:KaiTi_GB2312;
} 
.col-md-4{
  position: relative; 
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.col-md-4{
    float: left;
    padding-bottom: 8px;
}
.col-md-4 {
    width: 33.33333333%;
  }
.container:before,.container:after{
  content: " ";
  display: table;
}
.clearfix:after,.container:after{
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.weixin{
	position:absolute;
	height:0;
	background-color:#fff;
	left: 17%;
	overflow:hidden;
	z-index:100;
	border:1px solid #ddd;
	border:0;
}
.footer .about span:hover .weixin{
	margin:0 auto;
	height: 200px;
	top:-210px;
	left:70px;
	border:1px solid #ddd;
}