<link href="{{ url_for('static', filename='vendors/normalize-css/normalize.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/ion.rangeSlider/css/ion.rangeSlider.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css') }}" rel="stylesheet">
<!-- Bootstrap Colorpicker -->
<link href="{{ url_for('static', filename='vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='vendors/cropper/dist/cropper.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/ladda/dist/ladda-themeless.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/sweetalert/dist/sweetalert.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/select2-bootstrap-theme/dist/select2-bootstrap.min.css') }}" rel="stylesheet">

<div class="form-horizontal" autocomplete="off" data-form-id="gallery_create" id="gallery_create">

        <div class="container cropper">
                <div class="row">
                  <div class="col-md-9">
                    <div class="img-container">
                      <img id="image" src="/static/images/cropper.jpg" alt="Picture">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="docs-preview clearfix">
                      <div class="img-preview preview-lg"></div>
                      <div class="img-preview preview-md"></div>
                      <div class="img-preview preview-sm"></div>
                      <div class="img-preview preview-xs"></div>
                    </div>
    
                    <div class="docs-data" >
                      <div style="display: none">
                        <div class="input-group input-group-sm">
                          <label class="input-group-addon" for="dataX">X</label>
                          <input type="text" class="form-control" id="dataX" placeholder="x">
                          <span class="input-group-addon">px</span>
                        </div>
                        <div class="input-group input-group-sm">
                          <label class="input-group-addon" for="dataY">Y</label>
                          <input type="text" class="form-control" id="dataY" placeholder="y">
                          <span class="input-group-addon">px</span>
                        </div>
                        <div class="input-group input-group-sm">
                          <label class="input-group-addon" for="dataWidth">Width</label>
                          <input type="text" class="form-control" id="dataWidth" placeholder="width">
                          <span class="input-group-addon">px</span>
                        </div>
                        <div class="input-group input-group-sm">
                          <label class="input-group-addon" for="dataHeight">Height</label>
                          <input type="text" class="form-control" id="dataHeight" placeholder="height">
                          <span class="input-group-addon">px</span>
                        </div>
                        <div class="input-group input-group-sm">
                          <label class="input-group-addon" for="dataRotate">Rotate</label>
                          <input type="text" class="form-control" id="dataRotate" placeholder="rotate">
                          <span class="input-group-addon">deg</span>
                        </div>
                        <div class="input-group input-group-sm">
                          <label class="input-group-addon" for="dataScaleX">ScaleX</label>
                          <input type="text" class="form-control" id="dataScaleX" placeholder="scaleX">
                        </div>
                        <div class="input-group input-group-sm">
                          <label class="input-group-addon" for="dataScaleY">ScaleY</label>
                          <input type="text" class="form-control" id="dataScaleY" placeholder="scaleY">
                        </div>
                      </div>
                      {% if type =='training' %}
                      <div class="col-md-12 docs-cat">
                        <input type="hidden" id='txt_cat' value="1" >
                      <div class="btn-group btn-group-justified" data-toggle="buttons">
                          <label class="btn btn-primary active">
                            <input type="radio" class="sr-only" id="Cat0" name="Cat" value="1" checked="">
                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="一般图片">
                                一般图片
                            </span>
                          </label>
                          <label class="btn btn-primary">
                            <input type="radio" class="sr-only" id="Cat1" name="Cat" value="2">
                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="环境图片">
                                环境图片
                            </span>
                          </label>
                          
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-9 docs-buttons">
                    <!-- <h3 class="page-header">Toolbar:</h3> -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="move" title="Move">
                        <span class="docs-tooltip" data-toggle="tooltip" title="移动">
                          <span class="fa fa-arrows"></span>
                        </span>
                      </button>
                      <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="crop" title="Crop">
                        <span class="docs-tooltip" data-toggle="tooltip" title="裁剪">
                          <span class="fa fa-crop"></span>
                        </span>
                      </button>
                    </div>
    
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" data-method="zoom" data-option="0.1" title="Zoom In">
                        <span class="docs-tooltip" data-toggle="tooltip" title="放大">
                          <span class="fa fa-search-plus"></span>
                        </span>
                      </button>
                      <button type="button" class="btn btn-primary" data-method="zoom" data-option="-0.1" title="Zoom Out">
                        <span class="docs-tooltip" data-toggle="tooltip" title="缩小">
                          <span class="fa fa-search-minus"></span>
                        </span>
                      </button>
                    </div>
    
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" data-method="move" data-option="-10" data-second-option="0" title="Move Left">
                        <span class="docs-tooltip" data-toggle="tooltip" title="左移">
                          <span class="fa fa-arrow-left"></span>
                        </span>
                      </button>
                      <button type="button" class="btn btn-primary" data-method="move" data-option="10" data-second-option="0" title="Move Right">
                        <span class="docs-tooltip" data-toggle="tooltip" title="右移">
                          <span class="fa fa-arrow-right"></span>
                        </span>
                      </button>
                      <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="-10" title="Move Up">
                        <span class="docs-tooltip" data-toggle="tooltip" title="上移">
                          <span class="fa fa-arrow-up"></span>
                        </span>
                      </button>
                      <button type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="10" title="Move Down">
                        <span class="docs-tooltip" data-toggle="tooltip" title="下移">
                          <span class="fa fa-arrow-down"></span>
                        </span>
                      </button>
                    </div>
    
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" data-method="rotate" data-option="-45" title="Rotate Left">
                        <span class="docs-tooltip" data-toggle="tooltip" title="旋转-45度">
                          <span class="fa fa-rotate-left"></span>
                        </span>
                      </button>
                      <button type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Rotate Right">
                        <span class="docs-tooltip" data-toggle="tooltip" title="旋转45度">
                          <span class="fa fa-rotate-right"></span>
                        </span>
                      </button>
                    </div>
    
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" data-method="scaleX" data-option="-1" title="Flip Horizontal">
                        <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;scaleX&quot;, -1)">
                          <span class="fa fa-arrows-h"></span>
                        </span>
                      </button>
                      <button type="button" class="btn btn-primary" data-method="scaleY" data-option="-1" title="Flip Vertical">
                        <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;scaleY&quot;, -1)">
                          <span class="fa fa-arrows-v"></span>
                        </span>
                      </button>
                    </div>
    
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" data-method="crop" title="Crop">
                        <span class="docs-tooltip" data-toggle="tooltip" title="选择""">
                          <span class="fa fa-check"></span>
                        </span>
                      </button>
                      <button type="button" class="btn btn-primary" data-method="clear" title="Clear">
                        <span class="docs-tooltip" data-toggle="tooltip" title="清除">
                          <span class="fa fa-remove"></span>
                        </span>
                      </button>
                    </div>
    
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" data-method="disable" title="Disable">
                        <span class="docs-tooltip" data-toggle="tooltip" title="禁用">
                          <span class="fa fa-lock"></span>
                        </span>
                      </button>
                      <button type="button" class="btn btn-primary" data-method="enable" title="Enable">
                        <span class="docs-tooltip" data-toggle="tooltip" title="启用">
                          <span class="fa fa-unlock"></span>
                        </span>
                      </button>
                    </div>
    
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" data-method="reset" title="Reset">
                        <span class="docs-tooltip" data-toggle="tooltip" title="重置">
                          <span class="fa fa-refresh"></span>
                        </span>
                      </button>
                      
                      <label class="btn btn-primary btn-upload" for="inputImage" title="Upload image file">
                        <input type="file" class="sr-only" id="inputImage" name="file" accept="image/*">
                        <input type="hidden" id="filename" name="filename" value="">
                        <span class="docs-tooltip" data-toggle="tooltip" title="上传图片">
                          <span class="fa fa-upload"></span>
                        </span>
                      </label>
                    
                      <button type="button" class="btn btn-primary" data-method="destroy" title="Destroy">
                        <span class="docs-tooltip" data-toggle="tooltip" title="释放">
                          <span class="fa fa-power-off"></span>
                        </span>
                      </button>
                    </div>
                  </div><!-- /.docs-buttons -->
                </div>
              </div>
        
    </div>
    <script src="{{ url_for('static', filename='vendors/ion.rangeSlider/js/ion.rangeSlider.min.js') }}"></script>
    <!-- Bootstrap Colorpicker -->
    <script src="{{ url_for('static', filename='vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js') }}"></script>
    <!-- jquery.inputmask -->
    <script src="{{ url_for('static', filename='vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js') }}"></script>
    <!-- jQuery Knob -->
    <script src="{{ url_for('static', filename='vendors/jquery-knob/dist/jquery.knob.min.js') }}"></script>
    <!-- Cropper -->
    <script src="{{ url_for('static', filename='vendors/cropper/dist/cropper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/select2/dist/js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='build/js/Zt.Common.min.js') }}"></script>
    <script src="{{ url_for('static', filename='build/js/Zt.SweetAlert.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/ladda/dist/spin.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/ladda/dist/ladda.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/ladda/dist/ladda.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/sweetalert/dist/sweetalert.min.js') }}"></script>
    
    <script>
    $(document).ready(function () {
        init_cropper();
        
        var $win = getSubWinBody('gallery_create');
        var winEvents = $win.data("winEvents");
        var winButtons = $win.data("buttons");

        winButtons.save.click = function () {
            $('.ladda-button-save').attr("data-style", "expand-left")
            var l = $('.ladda-button-save').ladda();
            var url = '';
            {% if type =='school' %}
              url='/zx/school/gallery/save';
            {% endif %}
            {% if type =='show' %}
              url='/zx/show/gallery/save';
            {% endif %}
            {% if type =='training' %}
              url='/zx/training/gallery/save';
            {% endif %}
            {% if type =='trainingclass' %}
              url='/zx/trainingclass/gallery/save';
            {% endif %}
            l.ladda('start');
                   //提交图片
        
           var accessory = $('#inputImage').val();
           if (typeof accessory == "null"){ 
                alert("is null"); 
                return ;
           }
           var $image = $('#image'); 
           
           var accessoryName = accessory.substring(accessory.lastIndexOf("\\")+1,accessory.length);//截取原文件名
           var dataURL = $image.cropper("getCroppedCanvas");//拿到剪裁后的数据  
           var data = $("#filename").val();//dataURL.toDataURL("image/*", 0.5);//转成base64
           if (typeof data == "null"){ 
                alert("is null"); 
                return ;
           } 
           var $dataX = $('#dataX');
           var $dataY = $('#dataY');
           var $dataHeight = $('#dataHeight');
           var $dataWidth = $('#dataWidth');
           var $dataRotate = $('#dataRotate');
           var $dataScaleX = $('#dataScaleX');
           var $dataScaleY = $('#dataScaleY');
           var cat='1';
           if ($("#txt_cat").val()!=undefined){
            cat=$("#txt_cat").val();
           }
           var subData = {
                objid: {{objid}},
                isdefault:'1',
                istopshow:'1',
                isenable:'1',
                sortindex:'1',
                cat:cat,
                path:data,
                dataX:$dataX.val(),
                dataY:$dataY.val(),
                dataHeight:$dataHeight.val(),
                dataWidth:$dataWidth.val(),
                dataRotate:$dataRotate.val(),
                dataScaleX:$dataScaleX.val(),
                dataScaleY:$dataScaleY.val(),
            };
            $.post(url, subData, function (rtn) {
                var rtnDto = JSON.parse(rtn);
                console.log(!rtnDto.valid);
                if (!rtnDto.valid) {
                    var msg = "";
                    for (var i in rtnDto.msg) {
                        msg = msg + rtnDto.msg[i] + ";";
                    }
                    ZTAlert({
                        "title": "验证失败",
                        "text": msg
                    });
                    l.ladda('stop');
                } else if (rtnDto.result) {
                    winEvents.SavedAndClose();
                } else {
                    ZTAlert({
                        "title": "保存失败",
                        "text": rtnDto.msg
                    });
                    l.ladda('stop');
                }

                //通知modal window Save状况
                //return rtnValue;
            }, "text");
            
        }
    });
    /* CROPPER */
		
		function init_cropper() {
			
			
			if( typeof ($.fn.cropper) === 'undefined'){ return; }
			console.log('init_cropper');
			
			var $image = $('#image');
			var $download = $('#download');
			var $dataX = $('#dataX');
			var $dataY = $('#dataY');
			var $dataHeight = $('#dataHeight');
			var $dataWidth = $('#dataWidth');
			var $dataRotate = $('#dataRotate');
			var $dataScaleX = $('#dataScaleX');
			var $dataScaleY = $('#dataScaleY');
			var options = {
				  aspectRatio: 16 / 9,
				  preview: '.img-preview',
          dragMode: 'move',
          cropBoxResizable: 'false',
				  crop: function (e) {
					$dataX.val(Math.round(e.x));
					$dataY.val(Math.round(e.y));
					$dataHeight.val(Math.round(e.height));
					$dataWidth.val(Math.round(e.width));
					$dataRotate.val(e.rotate);
					$dataScaleX.val(e.scaleX);
					$dataScaleY.val(e.scaleY);
				  }
				};


			// Tooltip
			$('[data-toggle="tooltip"]').tooltip();


			// Cropper
			$image.on({
			  'build.cropper': function (e) {
				console.log(e.type);
			  },
			  'built.cropper': function (e) {
				console.log(e.type);
			  },
			  'cropstart.cropper': function (e) {
				console.log(e.type, e.action);
			  },
			  'cropmove.cropper': function (e) {
				console.log(e.type, e.action);
			  },
			  'cropend.cropper': function (e) {
				console.log(e.type, e.action);
			  },
			  'crop.cropper': function (e) {
				console.log(e.type, e.x, e.y, e.width, e.height, e.rotate, e.scaleX, e.scaleY);
			  },
			  'zoom.cropper': function (e) {
				console.log(e.type, e.ratio);
			  }
			}).cropper(options);


			// Buttons
			if (!$.isFunction(document.createElement('canvas').getContext)) {
			  $('button[data-method="getCroppedCanvas"]').prop('disabled', true);
			}

			if (typeof document.createElement('cropper').style.transition === 'undefined') {
			  $('button[data-method="rotate"]').prop('disabled', true);
			  $('button[data-method="scale"]').prop('disabled', true);
			}


		
    $('.docs-cat').on('change', 'input', function () {
			  var $this = $(this);
			  var name = $this.attr('name');
			  var type = $this.prop('type');
			  var cropBoxData;
			  var canvasData;

			  if (!$image.data('cropper')) {
				return;
			  }

			  if (type === 'checkbox') {
				// options[name] = $this.prop('checked');
				// cropBoxData = $image.cropper('getCropBoxData');
				// canvasData = $image.cropper('getCanvasData');

				// options.built = function () {
				//   $image.cropper('setCropBoxData', cropBoxData);
				//   $image.cropper('setCanvasData', canvasData);
				// };
			  } else if (type === 'radio') {
          $("#txt_cat").val($this.val());
          console.log($("#txt_cat").val());
			  }

			  //$image.cropper('destroy').cropper(options);
			});

			// Options
			$('.docs-toggles').on('change', 'input', function () {
			  var $this = $(this);
			  var name = $this.attr('name');
			  var type = $this.prop('type');
			  var cropBoxData;
			  var canvasData;

			  if (!$image.data('cropper')) {
				return;
			  }

			  if (type === 'checkbox') {
				options[name] = $this.prop('checked');
				cropBoxData = $image.cropper('getCropBoxData');
				canvasData = $image.cropper('getCanvasData');

				options.built = function () {
				  $image.cropper('setCropBoxData', cropBoxData);
				  $image.cropper('setCanvasData', canvasData);
				};
			  } else if (type === 'radio') {
				options[name] = $this.val();
			  }

			  $image.cropper('destroy').cropper(options);
			});


			// Methods
			$('.docs-buttons').on('click', '[data-method]', function () {
			  var $this = $(this);
			  var data = $this.data();
			  var $target;
			  var result;

			  if ($this.prop('disabled') || $this.hasClass('disabled')) {
				return;
			  }

			  if ($image.data('cropper') && data.method) {
				data = $.extend({}, data); // Clone a new one

				if (typeof data.target !== 'undefined') {
				  $target = $(data.target);

				  if (typeof data.option === 'undefined') {
					try {
					  data.option = JSON.parse($target.val());
					} catch (e) {
					  console.log(e.message);
					}
				  }
				}

				result = $image.cropper(data.method, data.option, data.secondOption);

				switch (data.method) {
				  case 'scaleX':
				  case 'scaleY':
					$(this).data('option', -data.option);
					break;

				  case 'getCroppedCanvas':
					if (result) {

					  // Bootstrap's Modal
					  $('#getCroppedCanvasModal').modal().find('.modal-body').html(result);

					  if (!$download.hasClass('disabled')) {
						$download.attr('href', result.toDataURL());
					  }
					}

					break;
				}

				if ($.isPlainObject(result) && $target) {
				  try {
					$target.val(JSON.stringify(result));
				  } catch (e) {
					console.log(e.message);
				  }
				}

			  }
			});

			// Keyboard
			$(document.body).on('keydown', function (e) {
			  if (!$image.data('cropper') || this.scrollTop > 300) {
				return;
			  }

			  switch (e.which) {
				case 37:
				  e.preventDefault();
				  $image.cropper('move', -1, 0);
				  break;

				case 38:
				  e.preventDefault();
				  $image.cropper('move', 0, -1);
				  break;

				case 39:
				  e.preventDefault();
				  $image.cropper('move', 1, 0);
				  break;

				case 40:
				  e.preventDefault();
				  $image.cropper('move', 0, 1);
				  break;
			  }
			});

			// Import image
			var $inputImage = $('#inputImage');
			var URL = window.URL || window.webkitURL;
			var blobURL;

			if (URL) {
        
			  $inputImage.change(function () {
  
				var files = this.files;
				var file;

				if (!$image.data('cropper')) {
				  return;
				}

				if (files && files.length) {
				  file = files[0];
          var formdata = new FormData();
          formdata.append("file", file);
          //var url = '/zx/gallery/save';
          var url ='/zx/gallery/upload';
          $.ajax({
            type: 'POST',
            url: url,
            data: formdata,
            contentType: false,
            cache: false,
            processData: false,
            async: false,
            success: function(data) {
              jsondata= JSON.parse(data);
              blobURL =jsondata.msg; // blobURL =URL.createObjectURL(file);
              $("#filename").val(jsondata.filename);
              $image.one('built.cropper', function () {

                // Revoke when load complete
                URL.revokeObjectURL(blobURL);
              }).cropper('reset').cropper('replace', blobURL);
              
              $inputImage.val('');
            },
          });
				}
			  });
			} else {
			  $inputImage.prop('disabled', true).parent().addClass('disabled');
			}
			
			
		};
		
		/* CROPPER --- end */  
    </script>