{% extends "base_site.html" %}

{% block title %} Table Dynamic {% endblock title %}

{% block stylesheets %}
  {{ super() }}


{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main" data-panel-id='view-delivb-info'>
    <div class="">
        <div class="page-title">
            <div class="title_left">
            <h3>学校介绍</h3>
            </div>

            <div class="title_right">
            
            </div>
        </div>
        
        <div class="clearfix"></div>

        <div class="form-horizontal" autocomplete="off" data-form-id="school_create" id="school_create">
            <div class="form-group">
                <div class="btn-group">
                    <button class="btn btn-sm btn-primary" type="button" data-click-name="goback"><i class="fa fa-reply"></i> 返回</button>
                    <button class="btn btn-sm btn-default" type="button"  data-click-name="save" ><i class="fa fa-save"></i>保存</button>
                </div>
            </div>
            <div class="hr-line-dashed-10"></div>
            <div class="form-group">
                <label class="col-sm-2">学校介绍</label>
            </div>
            <div class="hr-line-dashed-10"></div>
            <div class="form-group">
                <div class="row">
                    <textarea type="text" cols="40" rows="20" id="txt-intro" name="txt-intro" class="form-control" placeholder="请输入学校介绍" >{{obj.intro}}</textarea>
                </div>
            </div>
            <div class="hr-line-dashed-10"></div>
            <div class="form-group">
                <label class="col-sm-2">团队介绍</label>
            </div>
            <div class="hr-line-dashed-10"></div>
            <div class="form-group">
                <div class="row">
                    <textarea type="text" cols="40" rows="3"  id="txt-team" name="txt-team" class="form-control" placeholder="请输入团队介绍" > {{obj.team}}</textarea>
                </div>
        
            </div>            
        </div>
    </div>
   
  </div>
  
  

{% endblock content %}

{% block javascripts %}

  {{ super() }}
  <!-- Datatables -->
  <script>
$(document).ready(function () {
    var $win = $("[data-panel-id='view-delivb-info']");
    $('#txt-intro').summernote(        {
        placeholder: '',
        tabsize: 2,
        height: 300
      });
      $('#txt-team').summernote(        {
        placeholder: '',
        tabsize: 2,
        height: 300
      });
    $win.on("click", "button", function () {
        
        if ($(this).has("data-click-name")) {
            var clickName = $(this).attr("data-click-name");
            var clickValue = $(this).attr("data-click-value");
            
            switch(clickName){
                case "goback":
                    var url = '{{gobackurl|safe}}';
                    window.location.href=url;
                case "save":
                    
                    var subData = {
                        id: {{obj.id}},
                        intro: jQuery('<div />').text($('#txt-intro').summernote('code')).html(),
                        team:jQuery('<div />').text($('#txt-team').summernote('code')).html() ,
                    };
                    var url = '/zx/school/intro/save';
                    $.post(url, subData, function (rtn) {
                        var rtnDto = JSON.parse(rtn);
                        if (!rtnDto.valid) {
                            var msg = "";
                            for (var i in rtnDto.msg) {
                                msg = msg + rtnDto.msg[i] + ";";
                            }
                            ZTAlert({
                                "title": "验证失败",
                                "text": msg
                            });
                            
                        } else if (rtnDto.result) {
                            
                            
                        } else {
                            ZTAlert({
                                "title": "保存失败",
                                "text": rtnDto.msg
                            });
                        
                        }

                        //通知modal window Save状况
                        //return rtnValue;
                    }, "text");
                    break;
               
            
            }
        }
        
    });
});

  </script>
{% endblock javascripts %}
