{% extends "base_site.html" %}

{% block title %} Table Dynamic {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/jquery-ui/themes/base/jquery-ui.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/sweetalert/dist/sweetalert.min.css') }}" rel="stylesheet">
  
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main" data-panel-id='school_list'>
    <div class="">
      

      <div class="clearfix"></div>

      <div class="row">
        
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>数据管理<small>学校</small></h2>
              <div class="title_right">
                  <div class="col-md-1 col-sm-1 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                     &nbsp;
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-click-name="create"><i class="fa fa-plus"></i>新增</button>
                        <button class="btn btn-default" type="button" data-click-name="export"><i class="fa fa-file-excel-o"></i>导出</button>
                      </span>
                    </div>
                  </div>
                </div>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
             
              <table id="datatable-school" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>标识</th>
                    <th>名称</th>
                    <th>描述</th>
                    <th>图片</th>
                    <th>地址</th>
                    <th>特色</th>
                    <th>电话</th>
                    <th>排序</th>
                    <th></th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                   
                  </tr>
                  
                </tbody>
              </table>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hide" id="schoolDialog"></div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <!-- Datatables -->
  <script src="{{ url_for('static', filename='vendors/jquery-ui/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jszip/dist/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/sweetalert/dist/sweetalert.min.js') }}"></script>
  <script src="{{ url_for('static', filename='build/js/Zt.dialog.min.js') }}"></script>
  <script src="{{ url_for('static', filename='build/js/Zt.SweetAlert.min.js') }}"></script>
  <script>
     $(document).ready(function () {
        var $win = $("[data-panel-id='school_list']");
        var $table = $("#datatable-school");

        $win.on("click", "button", function () {
            if ($(this).has("data-click-name")) {
                var clickName = $(this).attr("data-click-name");
                var clickValue = $(this).attr("data-click-value");

                switch(clickName){
                    case "create":
                    case "edit":
                        var url = clickName == "create" ? '/zx/school/edit' : '/zx/school/edit?id=' + clickValue;
                        $("#schoolDialog").ztdialog({
                            'url': url,
                            'title': clickName == "create"?"添加学校": "修改学校",
                            'buttons': 'Save',
                            'height': 768,
                            'width': 1024,
                            'fnSaved': function () { $table.DataTable().draw(false); }
                        });
                        break;
                    case "gallery":
                       
                        var pageIndex=$table.DataTable().page();
                        var order =$table.DataTable().order()[0];

                        var search=$table.DataTable().search()
                        var extra='&pageindex='+pageIndex+'&orderindex='+order[0]+'&orderdir='+ order[1]+'&search='+search
                        var url = '/zx/school/gallery/list?schoolid='+ clickValue+extra;
                      
                        window.location.href=url;
                        break;
                    case "export":
                        var url = '/zx/school/export';
                        window.open(url,'school','height=1, width=1, toolbar =no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
                        break;
                    case "intro":
                        var pageIndex=$table.DataTable().page();
                        var order =$table.DataTable().order()[0];

                        var search=$table.DataTable().search()
                        var extra='&pageindex='+pageIndex+'&orderindex='+order[0]+'&orderdir='+ order[1]+'&search='+search

                        var url = '/zx/school/intro/edit?id='+ clickValue+extra;
                        window.location.href=url
                        break;                        
                    case "delete":
                        ZTConfirm({
                            "title": "删除学校",
                            "text": "是否确认删除?",
                            'parms': { id: clickValue },
                            'confirmButtonText': '确定删除',
                            'cancelButtonText': '取消删除',
                            'fnConfirmCallback': function (parms) {
                                var url = '/zx/school/delete?id=' + parms.id;
                                $.post(url, function (rtn) {
                                    var rtnDto = JSON.parse(rtn);
                                    if (rtnDto.result) {
                                        ZTAlert({
                                            'title': '删除成功',
                                            'text': '信息删除成功',
                                            'type': 'success'
                                        });
                                        $table.DataTable().draw(false);
                                    } else {
                                        ZTAlert({
                                            'title': '删除失败',
                                            'text': rtnDto.msg,
                                            'type': 'error'
                                        });
                                    }
                                }, "text");
                            }
                        });
                        break;
                
                }
            }
        });
    var table =$('#datatable-school').DataTable( {
      serverSide: true,
      ajax: {
        url: '/zx/school/jsondata',
        dataSrc: 'data'
      }, 
      
            columns: [
              {
                  data: "id"
              },
              { data: "name" },
              { data: "desc" },
              { data: "img" ,"mRender": function (data, type, full) {
                  
                  if (data==null)
                    return "";
                  list=data.split("\/")
                  if (list.length>0)
                    return list[list.length-1]
                  
              }},
              { data: "addr" },
              { data: "features" },
              { data: "phone" },
              { data: "sortindex" },
              {
                    "sWidth": "55px",
                    "mData": "id",
                    "bSortable": false,
                    "mRender": function (data, type, full) {
                        var sOut = '';
                      
                        sOut += '<button class="btn btn-info btn-xs" data-click-name="edit" data-click-value="' + data + '"><i class="glyphicon glyphicon-edit"></i></button>';
                        sOut += '<button class="btn btn-info btn-xs" data-click-name="intro" data-click-value="' + data + '"><i class="fa fa-newspaper-o"></i>介绍</button>';
                        sOut += '<button class="btn btn-info btn-xs" data-click-name="gallery" data-click-value="' + data + '"><i class="glyphicon glyphicon-picture"></i></button>';
                        sOut += '<button class="btn btn-danger btn-xs"data-click-name="delete" data-click-value="' + data + '"><i class="glyphicon glyphicon-remove"></i></button>';
                        
                        return sOut;
                    }
                }
          ],
          initComplete: function () {
      setTimeout( function () {
          var pageindex={{pageindex|safe}};
          var orderindex ={{orderindex|safe}};
          var orderdir ='{{orderdir|safe}}';
          var seach='{{search|safe}}';
          table.order([orderindex,orderdir]).draw(  );
          table.search(seach).draw(  );
          if(pageindex >-1 ){
            table.page(pageindex).draw( 'page' );
          }
      }, 10 );},
    });
    $('#datatable-school tbody').on('click', 'tr', function () {
            $table.data("clickIndex", $table.DataTable().row(this).index());
            $('#deptTable tbody tr').each(function (index, item) {
                $(this).removeAttr("style");
            });
            $(this).attr("style", "background:#f2fbff");
        });
       //.on( 'init.dt', function () {

        //});

    });
 

  </script>
{% endblock javascripts %}
